body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Card container */
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 20rem;
  justify-content: center;
}

/* Flip card code from w3 schools tutorials*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 1rem;
  line-height: 200px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner, .rotate { 
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-image: url("./img/note-book.jpg");
  background-size: 100%;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: lightslategray;
  color: white;
  transform: rotateY(180deg);
}

/*---------------------------------------------------------*/


/*---------------------------------------------------------*/

.ameliaIcon {
  background-image: url("./img/amelia-shull.jpg");
  background-size: 100%;
  
}

.chrisIcon {
  background-image: url("./img/chris-vitalis.jpg");
  background-size: 100%;
}

.bioPic {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}


.menu{
  background-color: #4b2e83 ; 
  margin: 0;
  padding: .5rem;
}

.menu h1 {
  color: #b7a57a;
}

.nav-link {
  color: #b7a57a;
}

.menu :hover{
text-decoration: none;
}

nav li :hover{
  color: white;
  font-weight: bold;
}

/* body{
  background-image: url(img/note-book.jpg);
  background-repeat: repeat repeat;
  background-size: fill; 
} */

.get-started-button{
  background-color: #4b2e83;
  color: white;
}

.why {
  background-image: url(img/book-stack.jpg);
  background-size: cover;
  padding: 2rem;
  background-repeat: no-repeat;
  background-position: right;
}
.jumbotron {
  margin: 1rem;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 60%
  
}

.background-image{
  background-image: url(img/note-book.jpg);
}

.more-info {
  margin: 2rem;
  text-align: center;
  background-color: #b7a57a;
  padding: 1rem;
}

.more-info h2, .samples h2 {
  font-size: 2rem;
}

.icon, .icon-front {
  width: 2rem;
}
