body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Card container */
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 20rem;
  justify-content: center;
}

/* Flip card code from w3 schools tutorials*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 1rem;
  line-height: 200px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner, .rotate { 
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-image: url("./img/note-book.jpg");
  background-size: 100%;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: lightslategray;
  color: white;
  transform: rotateY(180deg);
}

/*---------------------------------------------------------*/

.flip-pic {
  background-color: transparent;
  perspective: 1000px;
  height: 250px;
  width: 250px;
  margin-top: 3rem;
}

.flip-pic-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-pic:hover .flip-pic-inner {
  transform: rotateY(180deg);
}

.flip-pic-front, .flip-pic-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-pic-front {
  border-radius: 100%;
}

.flip-pic-back {
  border-radius: 100%;
  background-image: url("./img/i-school.png");
  background-position: center;
  background-size: 230px;
  transform: rotateY(180deg);
}

.ameliaIcon {
  background-image: url("./img/amelia-shull.jpg");
  background-size: 100%;
}

.chrisIcon {
  background-image: url("./img/chris-vitalis.jpg");
  background-size: 100%;
}


.bio-para {
  margin-top: 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  margin: 2rem;
  background: rgba(255, 255, 255, 0.6);
  padding: 2rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.menu{
  background-color: #4b2e83 ; 
  margin: 0;
  padding: .5rem;
}

.menu h1 {
  color: #b7a57a;
}

.nav-link {
  color: #b7a57a;
}

.menu :hover{
text-decoration: none;
}

nav li :hover{
  color: white;
  font-weight: bold;
}

.get-started-button, .btn-p {
  background-color: #4b2e83;
  color: white;
}

.get-started-button:hover, .btn-p:hover {
  background-color: #85754d;
}



.why {
  background-image: url(https://i.imgur.com/dldBYRG.jpg);
  background-size: cover;
  padding: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  
}

.jumbotron {

  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  color: black;
}

.jumbotron h2, .jumbotron p{
  text-align: center;
}

.title {
  display: none;
}

.background-image{
  background-image: url(img/note-book.jpg);
  background-repeat: repeat repeat;
}

.more-info {
  margin: 2rem;
  text-align: center;
  background-color: #b7a57a;
  padding: 1rem;
}

.more-info h2, .samples h2 {
  font-size: 2rem;
}

.icon, .icon-front {
  width: 2rem;
}

.new-cards, .my-cards {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b7a57a;
  padding: 1.5rem;
  border-radius: .5rem;
}

.text-input {
  width: 100%;
  margin: 1rem;
}

.btn-group {
  width: 100%;
}

.view-button, .submit-button {
  margin-right: .5rem;
  margin-top: .75rem;
}

.submit-button:hover {
  background-color: #85754d;
}

.input-card-front {
  margin-bottom: .5rem;
}

.my-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.tool-btn {
  margin: .5rem;
}

.tool-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .icon {
    display: none;
  }

  .all-bios {
    display: flex;
  }

  .title {
    display: inline;
  }

  .jumbotron {
    width: 40%;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
    background-color: transparent;
    color: white;
  }

  .new-cards, .my-cards-info {
    width: 70%;
  }
}

footer {
  margin: .5rem;
  font-size: .75rem;
  bottom: 0;
  margin-bottom: 1rem;
}

body{
  background-color: #b7a57a;
}

.wrapper {
  text-align: center;
}