body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(-45deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 1000% 1000%;

  -webkit-animation: Gradient 60s ease;
  -moz-animation: Gradient 60s ease;
  animation: Gradient 60s ease;
}

@-webkit-keyframes Gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

@keyframes Gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-page {
  padding:2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-row, .middle-row, .bottom-row {
  display: none;
}

.small-home {
  display: flex;
  flex-direction: column;
  align-items:center;
}

/* Card container */
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 20rem;
  justify-content: center;
}

/* Flip card code from w3 schools tutorials*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 1rem;
  line-height: 200px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner, .rotate {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-image: url("./img/note-book.jpg");
  background-size: 100%;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

/*---------------------------------------------------------*/

.flip-pic {
  background-color: transparent;
  perspective: 1000px;
  height: 250px;
  width: 250px;
  margin-top: 3rem;
}

.flip-pic-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-pic:hover .flip-pic-inner {
  transform: rotateY(180deg);
}

.flip-pic-front, .flip-pic-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-pic-front {
  border-radius: 100%;
}

.flip-pic-back {
  border-radius: 100%;
  background-image: url("./img/i-school.png");
  background-position: center;
  background-size: 230px;
  transform: rotateY(180deg);
}

.ameliaIcon {
  background-image: url("./img/amelia-shull.jpg");
  background-size: 100%;
}

.chrisIcon {
  background-image: url("./img/chris-vitalis.jpg");
  background-size: 100%;
}

.rachelIcon {
  background-image : url("./img/rachel-vuu.jpg");
  background-size: 100%;
}

.yu-cheIcon {
  background-image: url("./img/Yu-che.jpg");
  background-size: 100%;
}


.bio-para {
  margin-top: 2rem;
  color: black;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  margin: 2rem;
  background: rgba(255, 255, 255, 0.6);
  padding: 2rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.menu{
  background-color: white;
  margin: 0;
  padding: .5rem;
}

.menu :hover{
text-decoration: none;
  color: #a24bcf;
}

.nav-link p:hover{
  color: #a24bcf;
}

.sign-in p, .log-out p {
  color: #a24bcf;
}

.link {
  color: white;
}

.link:hover {
  color:white;
  text-decoration: none;
  font-weight: bold;
}

.get-started-button, .btn-p {
  background-color: #a24bcf;
  color: white;
  border-radius: 100;
}

.get-started-button:hover, .btn-p:hover {
  background-color: white;
  color: #a24bcf;
}


.why {
  background-size: cover;
  padding: 5rem;
  background-repeat: no-repeat;
  background-position: 20%;
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  color:#4b79cf;
  padding: 1.5rem;
}

.jumbotron h2, .jumbotron p{
  text-align: center;
}

.title {
  display: none;
  color: #4b79cf;
}

.title:hover{
  color: #a24bcf;
}

.home-link:hover{
  text-decoration: none;
}

.nav-link p{
  font-weight: bold;
  color: #4b79cf;
  display: inline;
}

.sign-in p, .log-out p {
  color: #a24bcf;
}

.more-info {
  margin: 2rem;
  text-align: center;
  padding: 1rem;
  align-content: center;
}

.more-info h2, .samples h2 {
  font-size: 2rem;
}

.icon, .icon-front {
  width: 2rem;
}

.new-cards, .my-cards-spinner, .my-cards, .sign-in-page, .about-content, .welcome-message {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1.5rem;
  border-radius: .5rem;
}

.sign-in-page {
  min-height: 30rem;
}

.my-cards-spinner {
  min-height: 30rem;
}

.sign-in-page p {
  color: black;
}

  
.form-text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.forms {
  margin-top: 2rem;
}

.text-input {
  width: 100%;
  margin: 1rem;
}

.btn-group {
  width: 100%;
}

/*.pageload {
  background-image: url("./img/pageload.gif");
  background-size: 100%;
  margin-left: 10%;
  width: 80%;
  height: 80%;
  display: default;
  position: absolute;
}*/

.view-button, .submit-button {
  margin-right: .5rem;
  margin-top: .75rem;
  border-radius: 100px;
}

.view-button{
  color: #a24bcf;
}

.view-button:hover{
  color: white;
  background-color: #a24bcf;
}

.submit-button:hover {
  background-color: white;
}

.input-card-front {
  margin-bottom: .5rem;
}

.my-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.tool-btn {
  margin: .5rem;
}

.tool-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

footer {
  padding: .5rem;
  font-size: .75rem;
  bottom: 0;
  background: white;
  width: 100%;
  position: fixed;
}

footer a {
  color: #a24bcf;
}


.wrapper {
  text-align: center;
}



.example-text{
  line-height: 20px;
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2rem;
  color: #a24bcf;
}


.my-card-text, .random-text{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: auto;
  color: black;
}

.my-card-text p, .random-text p {
  line-height: 20px;
}

.random-text{
  color: #a24bcf;
}

.example-font{
  font-weight: 200;
}

.example-card {
  margin: 2rem;
  width: 300px;
  height: 200px;
}

.random-card {
  text-align: center;
}

.back-text-1, .back-text-2{
  padding-top: 2.5rem;
}

.back-text-3{
  padding-top: 5.5rem;
}

.card{
  border-style: none!important;
}

.card {
  
  /* Center card on screen (presentation only) */

  
  /* Set max dimensions of the image for responsive */
  max-height: 292px;
  max-width: 300px;
  
  /* Image will fill half the screen if window <600px wide */

  
  /* Set image to 100% of container to scale down at lower screen widths */
 
}

/* Flip animation container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

/* Set animation variables */
.front, .back {
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  animation-duration: 10s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* Call the animations for each side of the card */
.front {
  -webkit-animation-name: cardFlipFront;
  -moz-animation-name: cardFlipFront;
  -ms-animation-name: cardFlipFront;
  animation-name: cardFlipFront;
}

.back {
  -webkit-animation-name: cardFlipBack;
  -moz-animation-name: cardFlipBack;
  -ms-animation-name: cardFlipBack;
  animation-name: cardFlipBack;
}

/* We have two seperate @keyframe animations for each side of the card so we can get this working in IE */

/* This one animates the front card */
@keyframes cardFlipFront {
0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
22.5% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
27.5% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
72.5% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
77.5% {
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
}

/* This one animates the front card in webkit */
@-webkit-keyframes cardFlipFront {
0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
22.5% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
27.5% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
72.5% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
77.5% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
}

/* This one animates the back card */
@keyframes cardFlipBack {
0% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
22.5% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
27.5% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
72.5% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
77.5% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
100% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
}

/* This one animates the back card in webkit */
@-webkit-keyframes cardFlipBack {
0% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
22.5% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
27.5% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
72.5% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
77.5% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
}

/* Hide back of card during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* Front card stacked above the back card */
.front {
  z-index: 2;
}

/* The back, initially hidden, card */
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

/*.spinner { /*need to reset all inherited styles
  position: absolute;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 0%;
  display: default;
  flex-direction: none;
  align-items: center;
  color: none;
  padding: 0rem;
  border-radius: 0rem;
  z-index: +1;
}*/

.spinner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: +1;
  margin-left: auto;
  margin-right: auto;
}

.spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.success {
  background-color: greenyellow;
  margin-right: .5rem;
  margin-top: .75rem;
  border-radius: 100px;
}

.smart-mode:focus, .classic-mode:focus{
  background: #561d72
}

.header-font-size{
  font-size: 40px;
}

@media (min-width: 768px) {
  .icon {
    display: none;
}

.header-font-size{
  font-size: 50px;
}
  .all-bios {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  

  .title {
    display: inline;
    font-weight: 300;
    font-size: xx-large;
    padding-left: 2rem;
}

  .nav-item{
    font-weight: bold;
}
  

  .jumbotron {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    color: #4b79cf;
}

  .new-cards, .my-cards-info {
    width: 70%;
}

  .group-two {
    display: flex;
    flex-direction: row;
}

  .back-text-1, .back-text-2{
    padding-top: 3rem;
}

  .get-started-button {
    border-radius: 100px;
}
}

@media (min-width: 1200px) {
  .jumbotron {
    width: 30%;
}

  .top-row, .middle-row, .bottom-row {
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

  .small-home {
    display:none;
  }

}

@media (min-width: 1500px) {
  .home-page {
    padding-left: 10%;
    padding-right: 10%;
  }
}


